<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add a Product</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Inventory</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/addProduct}" aria-current="page" href="#">Add product</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<form  th:action="@{/addProduct}" th:method="post" th:object="${product}">
		<div class="d-flex">
			<div>
				New Product Name:
				<br>
				<input name="newProductName">
				<br>
				New Product Brand:
				<br>
				<input name="newProductBrand">
				<br>
				New Product Description:
				<br>
				<input name="newProductDescription">
				<br>
				New Product Categories:
				<br>
				<input name="newProductCategory">
			</div>
			<div>
				New Product Location:
				<br>
				<input name="newProductLocation">
				<br>
				New Product Quantity:
				<br>
				<input name="newProductQuantity">
				<br>
				New Product Wholesale Price:
				<br>
				<input name="newProductWholesalePrice">
				<br>
				New Product Store Price:
				<br>
				<input name="newProductStorePrice">
				<br/>
			
			</div>
		</div>
		<input type="submit"/>
	</form>
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	        crossorigin="anonymous"></script>
	
</body>
</html>